.header-container {
  background-color: #24053E;
  border-bottom-left-radius: 100% 15%;
  border-bottom-right-radius: 100% 15%;
  padding-bottom: 338px;
}

.navbar-section {
  padding-top: 57.78px;
  margin-left: 165.35px;
  margin-right: 165.35px;
  display: flex;
  justify-content: space-between;
}


.navbar-section p {
  color: #FFF;
  font-family: 'Manrope';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; 
  letter-spacing: -0.18px;
  border-bottom: 3px solid #44FFA1;
}
  
.navbar-section p:hover {
  color: #44FFA1;
  transition: .2s;
  cursor: pointer;
}

.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 58px;
  line-height: 80px;
}

.main-header h1 { 
  margin: auto;
  max-width: 635px;
  text-align: center;
  color: #FFF;
  font-family: 'Fraunces';
  font-size: 80px;
  font-style: normal;
  font-weight: 600;
}

.main-header .highlight {
  border-bottom: 3px solid #44FFA1;   
}

.main-header img {
  width: 715px;
  height: 427px;
  margin-top: 372px;
  position: absolute;
}

.main-header button {
  width: 161px;
  height: 61px;
  margin-top: 40px;
  flex-shrink: 0;
  background: #44FFA1;
  text-align: center;
  font-family: 'Manrope';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.18px;
  cursor: pointer;
}

.main-header button:hover {
  color: var(--Eucaplyptus, #44FFA1);
  border: 2px solid  #44FFA1;
  background-color: #24053E;
  transition: .2s;
}

