
.header-container {
    width: 100%;
    height: 730px;
    flex-shrink: 0;
    background-color: #24053E;
    border-bottom-left-radius: 100% 15%;
    border-bottom-right-radius: 100% 15%;
  }
  
  .header-menu {
    display: flex;
    justify-content: space-between;
    padding-left: 165px;
    padding-right: 165px;
    padding-top: 57.8px;
  }
  
  .header-menu p {
    color: #FFF;
    font-family: 'Manrope';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; 
    letter-spacing: -0.18px;
    border-bottom: 3px solid #44FFA1;
  }
  
  .header-menu p:hover {
    color: #44FFA1;
   transition: .2s;
  }
  
  .header-information {
    width: 635px;
    text-align: center;
    margin: auto;
    padding-top: 58px;
    line-height: 80px;
  }
  
  .header-information h1 { 
    color: #FFF;
    font-family: 'Fraunces';
    font-size: 80px;
    font-style: normal;
    font-weight: 600;
    }
  
  .highlight {
    border-bottom: 3px solid #44FFA1; /* Ou qualquer estilo desejado */
  }
  
  .header-information button {
      width: 161px;
      height: 61px;
      margin-top: 40px;
      flex-shrink: 0;
      background: #44FFA1;
      text-align: center;
      font-family: 'Manrope';
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px;
      letter-spacing: -0.18px;
  }
  
  
  .header-information button:hover {
    color: var(--Eucaplyptus, #44FFA1);
    border: 2px solid  #44FFA1;
    background-color: #24053E;
    transition: .2s;
  }
  
  .header-information img {
  width: 715px;
  height: 427px;
  margin-top: 50px;
  }