@media (max-width: 768px) {

    .navbar-section {
        padding-top: 37px;
        margin-right: 39px;
        margin-left: 39px;
    }

    .main-header h1 { 
        font-size: 60px;
        max-width: 563px;
        margin: auto;
    }
    
    .main-header img {
        margin-top: 455px;
        width: 479.153px;
        height: 286.603px;
    }


    .service-container {
        flex-direction: column;
    }

    .about-card {
        display: flex;
        align-items: center;
        gap: 17px;
        margin-bottom: 35px;    
    }

    .informations-container {
        margin-left: 10px;
    }

    .number-circle {
        width: 48px;
        height: 48px;
        font-size: 20px;
        margin: auto;
    }

    .title-service{
        text-align: left;
        margin-bottom: 16px;
    }
    
    .description-service {
        text-align: left;
        width: 492px;
        font-size: 16px;
        line-height: 28px;
    }

    .personal-description-container {
        width: 514px;
        height: 375px;
        justify-content: space-around;
        margin-top: 297px;
        margin-left: 206px;
        margin-right: 40px;
        padding-left: 56px;
        padding-top: 26px;
        padding-bottom: 30px;
        padding-right: 56px;
    }

    .personal-description-container h2  {
        font-size: 48px;
        font-weight: 600;
        line-height: 56px;
    }

    .personal-description-container p {
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
    }

    .personal-description-container button {
        font-size: 16px;
        font-weight: 700;
        line-height: 32px; 
        letter-spacing: -0.16px;
    }

    .perfil-image img {
        width: 281px;
        height: 281px; 
        position: relative;
        top: -110px;
        left: 39px;
    }
}