@media (max-width: 768px) {

    .navbar-section {
        padding-top: 37px;
        margin-right: 39px;
        margin-left: 39px;
    }

    .main-header h1 { 
        font-size: 60px;
        max-width: 563px;
        margin: auto;
    }
    
    .main-header img {
        margin-top: 455px;
        width: 479.153px;
        height: 286.603px;
    }

    .service-container {
        flex-direction: column;
    }

    .about-card {
        display: flex;
        align-items: center;
        gap: 17px;
        margin-bottom: 35px;    
    }

    .informations-container {
        margin-left: 10px;
    }

    .number-circle {
        width: 48px;
        height: 48px;
        font-size: 20px;
        margin: auto;
    }

    .title-service{
        text-align: left;
        margin-bottom: 16px;
    }
    
    .description-service {
        text-align: left;
        width: 492px;
        font-size: 16px;
        line-height: 28px;
    }

    .personal-description-container {
        width: 514px;
        height: 375px;
        justify-content: space-around;
        margin-top: 297px;
        margin-left: 206px;
        margin-right: 40px;
        padding-left: 56px;
        padding-top: 26px;
        padding-bottom: 30px;
        padding-right: 56px;
    }

    .personal-description-container h2  {
        font-size: 48px;
        font-weight: 600;
        line-height: 56px;
    }

    .personal-description-container p {
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
    }

    .personal-description-container button {
        font-size: 16px;
        font-weight: 700;
        line-height: 32px; 
        letter-spacing: -0.16px;
    }

    .perfil-image img {
        width: 281px;
        height: 281px; 
        position: relative;
        top: -110px;
        left: 39px;
    }
}

@media (max-width: 571px) {
    .navbar-section {
        padding-top: 37px;
        margin-right: 16px;
        margin-left: 16px;
    }

      .main-header h1 { 
        font-size: 50px;
        line-height: 50px;
    }

    .main-header img {
        width: 298.305px;
        height: 178.159px;
    }

    .service-container { 
        padding-bottom: 77px;
    }
    
    .about-card {
        display: grid;
        margin-left: 16px;
        margin-right: 16px;
    }

    .title-service {
        text-align: center;
    } 
    
    .description-service {
        width: auto;
        text-align: center;
    }     

    .perfil-image {
        width: 100%;
    }

    .perfil-image img { 
        height: 80%;
        width: 80%;
        margin-top: -358px;
        margin-left: auto;
        margin-right: auto;
    }

    .personal-description-container {
        width: 343px;
        height: 375px;
        padding-left: 0;
        padding: 0px 0px 0px 0px;
        margin: auto;
        width: 90%;
        height: 90%;
    }
        
    
    .personal-description-container h2 {
        margin-top: 32px;
        text-align: center;
        font-size: 32px;
        line-height: 48px;  
    }
          
    .personal-description-container p {
        text-align: center;
        font-size: 16px;
        line-height: 28px;
        margin-top: 16px;
        margin-left: 31px; 
        margin-right: 31px;
        margin-bottom: 24px;
        width: auto;
        height: auto;
    }

    .personal-description-container button {
        margin: auto;
        margin-bottom: 32px;
    }
}