.service-container {
  z-index: -1;
  top: -181px;
  position: relative;
  display: flex;
  grid-gap: 26px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-shrink: 0;
  background-color: #FCF8FF;
  width: 100%;
  margin-top: 138px;
  padding-bottom: 196px;
  border-bottom-left-radius: 100% 15%;
  border-bottom-right-radius: 100% 15%;
  padding-top: 321px;
}
.description-service {
  width: 354px;
  font-family: 'Manrope';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
  
.number-circle {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  border: 1px solid var(--Davys-Grey, #584D62);
  background-color: #FCF8FF; 
  color: #000000; 
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto; 
  margin-bottom: 60px;
  text-align: center;
  font-family: 'Fraunces';
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}
  
.title-service {
  color: var(--Dark-Purple, #24053E);
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Fraunces';
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}
  
.description-service {
  color: var(--Dark-Purple, #24053E);
  width: 354px;
  font-family: 'Manrope';
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  line-height: 32px;
}